<section class="media-strip">
  <div class="shell">
    <div class="media-strip-inner">
      <figure class="media-item">
        <img
          src="/media/mtb-coast-1.jpeg"
          alt="Rider on a coastal singletrack above the sea"
          loading="lazy"
        />
        <figcaption class="media-item-label">Sestri Levante ridges</figcaption>
      </figure>

      <figure class="media-item">
        <img
          src="/media/mtb-forest-1.jpeg"
          alt="Enduro trail in the Ligurian hills"
          loading="lazy"
        />
        <figcaption class="media-item-label">Enduro line in the hills</figcaption>
      </figure>

      <figure class="media-item">
        <img
          src="/media/mtb-coast-1.jpeg"
          alt="Video preview of a guided MTB tour"
        loading="lazy"
          ></video>
        <figcaption class="media-item-label">30s tour preview</figcaption>
      </figure>
    </div>
  </div>
</section>
